src/TecnocomWrapper.unicard.sdk/Web References/AutorizadorLineas/CE_CECL0TL_SMUv10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://smu" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2591="http://formatos/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2586="http://mensajeria/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2588="http://smu/xsd" targetNamespace="http://smu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>LISTA DE REFERENCIAS DE TIPOS DE LINEA DE CONTRATO   </wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax2590="http://smu/xsd" xmlns:ax2587="http://mensajeria/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://smu">
      <xs:import namespace="http://mensajeria/xsd" />
      <xs:import namespace="http://smu/xsd" />
      <xs:element name="runService">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="opData" nillable="true" type="ax2587:OperationData" />
            <xs:element minOccurs="0" name="eEntrada" nillable="true" type="ax2590:Entrada_CECL0TL" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="runServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax2590:Respuesta_CECL0TL" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echo_Service">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="echo_ServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax2592="http://formatos/xsd" xmlns:ax2589="http://mensajeria/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://smu/xsd">
      <xs:import namespace="http://mensajeria/xsd" />
      <xs:import namespace="http://mensajeria/xsd" />
      <xs:import namespace="http://formatos/xsd" />
      <xs:import namespace="http://formatos/xsd" />
      <xs:complexType name="Entrada_CECL0TL">
        <xs:complexContent mixed="false">
          <xs:extension base="ax2589:EntradaExtendida">
            <xs:sequence>
              <xs:element minOccurs="0" name="centalta" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="codcamcom" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="linref" type="xs:int" />
              <xs:element minOccurs="0" name="tipolin" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Respuesta_CECL0TL">
        <xs:complexContent mixed="false">
          <xs:extension base="ax2589:Respuesta">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="contratos" nillable="true" type="ax2588:Respuesta_CECL0TL_Registro_CECL0TL" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Respuesta_CECL0TL_Registro_CECL0TL">
        <xs:complexContent mixed="false">
          <xs:extension base="ax2589:RegistroNewAge">
            <xs:sequence>
              <xs:element minOccurs="0" name="codblq" type="xs:int" />
              <xs:element minOccurs="0" name="codcamcom1" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="contcur" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="descodblq" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="desindfinal" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="desindtipope" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="desindvig" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="destipolim" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="destipolin" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="fecalta" nillable="true" type="ax2592:EaseDate" />
              <xs:element minOccurs="0" name="fecblq" nillable="true" type="ax2592:EaseDate" />
              <xs:element minOccurs="0" name="fecfin" nillable="true" type="ax2592:EaseDate" />
              <xs:element minOccurs="0" name="fecini" nillable="true" type="ax2592:EaseDate" />
              <xs:element minOccurs="0" name="indfinal" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="indrepdisp" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="indtipope" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="indvig" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="linref1" type="xs:int" />
              <xs:element minOccurs="0" name="texblq" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="tipolim" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="tipolin1" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mensajeria/xsd">
      <xs:complexType name="OperationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="avanzar" type="xs:boolean" />
          <xs:element minOccurs="0" name="canal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="claveFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="claveInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="entidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idioma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pantPagina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retroceder" type="xs:boolean" />
          <xs:element minOccurs="0" name="securityHash" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EntradaExtendida">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Respuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="claveInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descRetorno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="indMasDatos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pantPagina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retorno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tiempoEjecucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistroNewAge">
        <xs:sequence>
          <xs:element minOccurs="0" name="registro_Numero" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://formatos/xsd">
      <xs:complexType name="EaseDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="anno" type="xs:int" />
          <xs:element minOccurs="0" name="dia" type="xs:int" />
          <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mes" type="xs:int" />
          <xs:element minOccurs="0" name="nombreDia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombreMes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="echo_ServiceRequest">
    <wsdl:part name="parameters" element="ns:echo_Service" />
  </wsdl:message>
  <wsdl:message name="echo_ServiceResponse">
    <wsdl:part name="parameters" element="ns:echo_ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="runServiceRequest">
    <wsdl:part name="parameters" element="ns:runService" />
  </wsdl:message>
  <wsdl:message name="runServiceResponse">
    <wsdl:part name="parameters" element="ns:runServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="CE_CECL0TL_SMUv10PortType">
    <wsdl:operation name="echo_Service">
      <wsdl:input wsaw:Action="urn:echo_Service" message="ns:echo_ServiceRequest" />
      <wsdl:output wsaw:Action="urn:echo_ServiceResponse" message="ns:echo_ServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="runService">
      <wsdl:input wsaw:Action="urn:runService" message="ns:runServiceRequest" />
      <wsdl:output wsaw:Action="urn:runServiceResponse" message="ns:runServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CE_CECL0TL_SMUv10Soap11Binding" type="ns:CE_CECL0TL_SMUv10PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo_Service">
      <soap:operation soapAction="urn:echo_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runService">
      <soap:operation soapAction="urn:runService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CE_CECL0TL_SMUv10Soap12Binding" type="ns:CE_CECL0TL_SMUv10PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo_Service">
      <soap12:operation soapAction="urn:echo_Service" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runService">
      <soap12:operation soapAction="urn:runService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CE_CECL0TL_SMUv10HttpBinding" type="ns:CE_CECL0TL_SMUv10PortType">
    <http:binding verb="POST" />
    <wsdl:operation name="echo_Service">
      <http:operation location="echo_Service" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runService">
      <http:operation location="runService" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CE_CECL0TL_SMUv10">
    <wsdl:port name="CE_CECL0TL_SMUv10HttpsSoap11Endpoint" binding="ns:CE_CECL0TL_SMUv10Soap11Binding">
      <soap:address location="https://procemisorqachile:448/axis2SMU/services/CE_CECL0TL_SMUv10.CE_CECL0TL_SMUv10HttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CE_CECL0TL_SMUv10HttpSoap11Endpoint" binding="ns:CE_CECL0TL_SMUv10Soap11Binding">
      <soap:address location="" />
    </wsdl:port>
    <wsdl:port name="CE_CECL0TL_SMUv10HttpsSoap12Endpoint" binding="ns:CE_CECL0TL_SMUv10Soap12Binding">
      <soap12:address location="https://procemisorqachile:448/axis2SMU/services/CE_CECL0TL_SMUv10.CE_CECL0TL_SMUv10HttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CE_CECL0TL_SMUv10HttpSoap12Endpoint" binding="ns:CE_CECL0TL_SMUv10Soap12Binding">
      <soap12:address location="" />
    </wsdl:port>
    <wsdl:port name="CE_CECL0TL_SMUv10HttpEndpoint" binding="ns:CE_CECL0TL_SMUv10HttpBinding">
      <http:address location="" />
    </wsdl:port>
    <wsdl:port name="CE_CECL0TL_SMUv10HttpsEndpoint" binding="ns:CE_CECL0TL_SMUv10HttpBinding">
      <http:address location="https://procemisorqachile:448/axis2SMU/services/CE_CECL0TL_SMUv10.CE_CECL0TL_SMUv10HttpsEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>